@font-face {
    font-family: 'Averta Demo';
    src: url('AvertaDemo-ExtraBoldItalic.woff2') format('woff2'),
        url('AvertaDemo-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Demo';
    src: url('AvertaDemo-Regular.woff2') format('woff2'),
        url('AvertaDemo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

